server {
        listen [::]:80 default_server;
        listen 80 default_server;
        server_name {{app}}.example.com www.{{app}}.example.com;
        access_log /var/log/nginx/{{app}}.example.com.access.log;
        error_log /var/log/nginx/{{app}}.example.com.error.log;
        root /var/www/vhosts/{{app}};
        
location / {
        index index.html index.htm index.php;
        try_files $uri =404;
        }

location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME /var/www/vhosts/{{app}}$fastcgi_script_name;
    }
} 

server {

        listen [::]:443 default_server;
        listen 443 default_server;
        ssl                 on;
        ssl_certificate     /etc/ssl/certs/{{ app }}.crt;
        ssl_certificate_key /etc/ssl/private/{{ app }}.key;
        ssl_ciphers         EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH;
        ssl_protocols       TLSv1.2;

        server_name {{app}}.example.com www.{{app}}.example.com;
        access_log /var/log/nginx/{{app}}.example.com.access.log;
        error_log /var/log/nginx/{{app}}.example.com.error.log;
        root /var/www/vhosts/{{app}};

        

location / {
        index index.html index.htm index.php;
        try_files $uri =404;
        }

location ~ \.php$ {
    include /etc/nginx/fastcgi_params;
    fastcgi_pass unix:/run/php/php7.2-fpm.sock;
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME /var/www/vhosts/{{app}}$fastcgi_script_name;
    }
} 